<!DOCTYPE html>
<head>
	<title>SHOP</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="#">SHOPPERS ZONE</a></li>
			<a href="/admin/pages"><li id='p'>Pages</li></a>
			<a href="/admin/cat"><li id='c'>Categories</li></a>
			<a href="/admin/products"><li id='pr'>Products</li></a>
		</ul>
	</div>
	
</body>
</html>